@import "style";

.fv {
    &--about {
        height: 60vh;
    }
    &__img-main {
        height: 60vh;
    }
    &__img-sub {
        height: 70vh;
    }
    &__contents {
        &--about {
            top: 50%;
            left: 10%;
            @include mq(tb) {
                left: 50%;
            }
            transform: translateY(-50%);
        }
    }
    &__title {
        font-size: 52px;
        @include mq(pc) {
            font-size: 72px;
        }
        line-height: 86px;
        font-weight: 1000;
    }
}

.page-vision {
    padding: 166px 15px 0;
    @include mq(tb) {
        margin-left: 25vw;
    }
    .title {
        font-size: 2rem;
        font-weight: 1000;
    }
    .sub-title {
        font-size: 1.5rem;
        margin-top: 25px;
    }
    .content {
        font-size: 0.9rem;
        @include mq(pc) {
            font-size: 1.0rem;
        }
        margin-top: 32px;
    }
}

.page-message {
    margin: 80px 4vw 0px;
    @include mq(pc) {
        margin: 160px 9vw 0px;
    }
    position: relative;
    .img-message {
        object-fit: cover;
        width: 340px;
        @include mq(pc) {
            width: 420px;
        }
        z-index: 10;
    }
    .ceo-message {
        @include mq(tb) {
            margin: -100px 5vw 0 30vw;
        }
        padding: 125px 5vw 80px;
        z-index: 5;
    }
    .bg-gray {
        background-color: #f0f0f0;
    }
    .content {
        margin-top: 30px;
    }
}

.page-company {
    padding: 80px 2vw;
    @include mq(pc) {
        padding: 160px 9vw;
    }
    .title {
        padding-bottom: 30px;
        border-bottom: 1px solid #DDDDDD;
    }
    &__table {
        max-width: 800px;
        margin-left: auto;
        @include mq(tb) {
            padding-left: 30px;
        }
        .table-item {
            display: flex;
            padding: 20px 0;
            border-bottom: 1px solid #DDDDDD;
            .table-title {
                width: 50%;
                @include mq(tb) {
                    width: 30%;
                }
            }
        }
    }
    &__map {
        width: 100%;
        margin: 40px 0 80px;
    }
}
