@import "style";

.fv {
    height: 80vh;
    width: 100vw;
    &__img-main {
        height: 60vh;
    }
    &__img-sub {
        height: 70vh;
    }
    &__contents {
        text-align: right;
        right: 15px;
        @include mq(tb) {
            text-align: left;
            right: 50px;
        }
        @include mq(pc) {
            right: 150px;
        }
    }
}

.contents {
    &__title {
        font-size: 3.25rem;
        @include mq(pc) {
            font-size: 4.5rem;
        }
    }
    &__concept {
        font-size: 1rem;
        font-weight: bold;
    }
}

label {
    display: flex;
}

.required {
    display: block;
    font-size: 0.75rem;
    background-color: black;
    color: white;
    width: 34px;
    line-height: 18px;
    text-align: center;
    margin-left: 20px;
}

.form {
    padding: 0 4vw 80px;
    @include mq(pc) {
        max-width: 768px;
        margin: 0 auto;
    }
    &__type {
        margin-top: 48px;
    }
    &__company {
        margin-top: 37px;
    }
    &__name {
        margin-top: 37px;
    }
    &__email {
        margin-top: 37px;
    }
    &__phone {
        margin-top: 37px;
    }
    &__message {
        margin-top: 38px;
    }
    &__privacy {
        margin-top: 40px;
    }
    &__consent {
        margin-top: 40px;
        text-align: center;
    }
    &__btn {
        margin-top: 45px;
        text-align: center;
    }
}

input[type="text"] {
    width: 100%;
    height: 48px;
    border: 1px solid #333333;
}

textarea {
    resize: none;
    width: 100%;
    height: 226px;
    border: 1px solid #333333;
}

.form-text {
    font-size: 0.9rem;
    line-height: 1.5rem;
}

.form-title {
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 10px;
}

.type-items {
    margin-top: 17px;
    @include mq(pc) {
        display: flex;
    }
}

.type-item {
    margin-top: 14px;
    :first-child {
        margin-top: 0px;
    }
    margin-left: 10px;
    @include mq(pc) {
        margin-top: 18px;
        margin-left: 0;
        margin-right: 50px;
        :last-child {
            margin-right: 0;
        }
    }
    line-height: 1.3rem;
    font-size: 1rem;
}

input[type="radio"] {
    width: 1.2rem;
    height: 1.2rem;
    vertical-align: middle;
}

.form-consent {
    margin-right: 10px;
}

.privacy-text {
    text-align: left;
    padding: 10px 0 0 10px;
}
