.header {
    position: fixed;
    padding: 19.8px 4vw 0;
    width: 100%;
    z-index: 50;
    &__inner {
        color: white;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__burger {
        display: none;
    }
}

.burger-bg {
    background-color: #222222;
    opacity: 0.5;
    z-index: 20;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}

.burger-wrapper {
    max-width: 520px;
    width: 100%;
    @include mq(tb) {
        width: 35vw;
    }
    height: 100vh;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 30;
    text-align: center;
    background-color: #222222;
    opacity: 0.8;
    color: white;
    &__img {
        width: 10px;
    }
}

.burger-btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    line-height: 0.9rem;
    z-index: 40;
    &__bar {
        padding-right: 7px;
    }
    &__menu {
        font-size: 0.6rem;
    }
}

.burger-menu {
    margin-top: 180px;
}

.bar {
    display: block;
    background-color: #fff;
    height: 2px;
    width: 22px;
    border-radius: 1px;
    margin-bottom: 5px;
}

.cross {
    .bar__top {
        margin-top: 6.5px;
        transition: 0.1s;
        transform: rotate(45deg);
    }
    .bar__mid {
        display: none;
    }
    .bar__bot {
        margin-top: -6.5px;
        transition: 0.1s;
        transform: rotate(-45deg);
    }
}

.fixed {
    position: fixed;
}

.logo {
    display: block;
    &__img {
        width: 189px;
        @include mq(pc) {
            width: 260px;
        }
    }
}

.logo-mark {
    &__img {
        width: 50px;
    }
}

.nav-item {
    &:first-child {
        margin-top: 37px;
    }
    margin-top: 27px;
    font-size: 1.25rem;
}
