.btn {
    display: inline-block;
    width: 160px;
    max-width: 100%;
    text-align: center;
    background-color: black;
    color: white;
    font-size: 0.7rem;
    font-weight: bold;
    padding: 10px 10px;
}

.btn-left {
    margin-left: 0;
}

.btn-right {
    margin-right: 0;
}

.fv {
    height: 100vh;
    position: relative;
    &__img-main {
        position: absolute;
        height: 86.5%;
        width: 76.4%;
        top: 0;
        left: 0;
        z-index: 2;
        object-fit: cover;
    }
    &__img-sub {
        position: absolute;
        height: 100vh;
        width: 50%;
        top: 0;
        right: 0;
        z-index: 1;
    }
    &__contents {
        position: absolute;
        top: 26vh;
        z-index: 3;
        color: white;
        &--top {
            width: 245px;
            right: 8vw;
            @include mq(pc) {
                right: 16vw;
            }
        }
    }
    &__title,
    &__company {
        font-size: 0.9rem;
        @include mq(pc) {
            font-size: (20rem /16);
        }
        line-height: 1.3rem;
        font-weight: bold;
    }
    &__concept {
        font-size: 3.7rem;
        font-weight: 1000;
        @include mq(pc) {
            font-size: (72rem /16);
            line-height: (86rem /16);
        }
    }
}

.page-about {
    z-index: 10;
    position: relative;
    top: 100px;
    max-width: 1100px;
    padding: 50px 15px;
    @include mq(pc) {
        padding: 110px 50px;
    }
    margin: 80px auto 0;
    @include mq(pc) {
        margin: 20px auto 0;
    }
    .content-about {
        background-color: white;
        padding: 50px 30px;
        max-width: 590px;
        margin: 0 auto;
        @include mq(pc) {
            margin-left: 0;
        }
        &__txt {
            margin-top: 30px;
            line-height: 1.75rem;
        }
        &__btn {
            margin-top: 30px;
        }
    }
}

.bg-about {
    background-image: url(../../images/about-img@2x-min.png);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.page-cards {
    z-index: 5;
    padding: 40px 15px;
    @include mq(pc) {
        padding: 175px 15px 60px;
    }
    display: flex;
    flex-wrap: wrap;
    @include mq(pc) {
        justify-content: center;
    }
    width: 100%;
    &--col2 > &__item {
        width: 100%;
        @include mq(pc) {
            width: 45%;
        }
    }
    &__item {
        max-width: 520px;
        @include mq(pc) {
            margin-right: 60px;
            &:last-child {
                margin-right: 0;
            }
        }
    }
}

.bg-cards {
    background-color: #f0f0f0;
}

.card {
    &__body {
        padding: 17px 0;
    }

    &__img-wrapper {
        width: 100%;
        margin-top: 30px;
    }

    &__img {
        max-width: 520px;
        max-height: 350px;
        object-fit: cover;
    }

    &__text {
        margin-top: 27px;
    }

    &__btn {
        margin-top: 28px;
    }
}

.page-topics {
    padding: 37px 5vw 40px;
    @include mq(pc) {
        padding: 57px 5vw 60px;
    }
}

.content-topics {
    max-width: 1100px;
    margin: 0 auto;
    &__btn {
        margin-top: 30px;
    }
}

.topics-contents {
    margin-top: 29px;
    margin-left: auto;
    max-width: 700px;
}

.topics-content {
    margin-top: 17px;
    border-bottom: 1px solid #dddddddd;
    font-weight: bold;
    &__date {
        color: #cecece;
    }
    &__title {
        padding: 8px 0;
    }
}

.topics-btn {
    @include mq(pc) {
        text-align: right;
    }
}

.page-contact {
    background-color: #f2f2f2;
    padding: 40px 4vw;
    &__img {
        max-width: 520px;
    }
}

.contact-contents {
    margin-bottom: 40px;
    @include mq(tb) {
        margin-bottom: 80px;
    }
    @include mq(pc) {
        display: flex;
        flex-direction: row-reverse;
        margin: 60px auto 120px;
    }
}

.contact-content {
    margin-right: 80px;
    &__title {
        margin-top: 27px;
        @include mq(pc) {
            margin-top: 4vh;
        }
    }
    &__text {
        margin-top: 30px;
        max-width: 440px;
        @include mq(pc) {
            line-height: 2rem;
        }
    }
    &__btn {
        margin-top: 30px;
    }
}
